:root {
    --btn-color: #f4f4fd;
    --head-color: #2E2F42;
    --body-color: #FFFFFF;
    --action-color: #404bbf;
    --action-hero-btn:#4D5AE5;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    color:#434455 ; 
    letter-spacing: 0.03em;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--action-hero-btn);
}
.header-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--head-color);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--btn-color)
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--head-color);
    text-decoration: none;
}
.nav-link:hover, 
.nav-link:focus,
.contacts:hover,
.contacts:focus{
    color:var(--action-color)
}
.hero-btn:hover,
.hero-btn:focus{
    color:var(--action-hero-btn)
}
.btn:hover,
.btn:focus{
background-color: var(--action-hero-btn);
color: var(--btn-color);
cursor: pointer;
}
.footer{
    background-color: var(--head-color);
}
page {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.page {
    background-color: var(--body-color);
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
