body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:#434455 ; 
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.nav-link:hover {
    color: #4d5ae5;
}
.nav-link:focus {
    color: #434455;
}
.contacts:hover {
    color: #4d5ae5;
}
.contacts:focus {
    color: #434455;
}
:root {
    --first-color: #404bbf;
    --second-color: #f4f4fd;
}
.btn {
    background-color: var(--second-color);
}
.btn:hover {
    color: var(--first-color);
}
.btn:focus {
    color: var(--first-color);
}
.btn {
    cursor: pointer;
}
page {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.page {
    background-color: #FFFFFF;
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
